h1{
    background-color: rgb(68, 13, 119);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
}
.main{
    padding: 20px;
    margin: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}